
.dotFormat{
    width: 0.2in;
}

.headingCoverFormat{
    width: 1in;
}

.tableFormat th{
    padding: 0.5em 0;
}

.tableFormat td, .tableFormat th{
    border: 2px solid #c3d1ff;
}

.tableFormat tr:nth-child(even){
    background-color: #f7f9fc
}

.tableFormat tr:hover{
    background-color:#e7e9ea;
}

.tableFormat td {
    min-height: 20em;
    box-sizing: border-box;
}

.englishSize{
    font-size: 1em;
}

.burmeseSize{
    font-size: 1.15em;
    box-sizing: border-box;
}

.displayBookCover{
    width: 100%;
    height: 100%;
    display: block;
}

.subTitle{
    display: flex;
    width: 100%;
}

.accNoPart{
    display: flex;
    justify-content: center;
}

.accessionNumberValue{
    box-sizing: border-box;
}

#dotSize{
    width: 3em;
    margin: auto;
    display: inline;
}

.subTitle div{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.subTitle button{
    margin: 0 0.3em;
    height: 2.1em;
    width: 8em;
}

#searchBookDiv{
    min-height: 10em;
    width: 85%;
    /* margin: 0.4 2em; */
    border-radius: 10px;
    margin: auto auto 2em auto;
    box-sizing: border-box;
    padding: 0.7em;
    background-color: #D9D9D9;  
}

#searchBookDiv form > div:nth-child(n){
    display: flex;
    margin-top: 0.4em;
}

#searchBookDiv form > div:nth-child(n) > div{
    width: 50%;
}

#searchBookDiv form > div:nth-child(n) > div > label{
    height: 2.5em;
    font-weight: lighter;
    display: inline-block;
    width: 35%;
    margin-top: 0.5em;
    text-align: center;
}

#searchBookDiv form > div:nth-child(n) > div > input{
    /* height: 70%; */
    height: 2.5em;
    margin: 1% 0;
    width: 65%;
    float: right;
    border-radius: 5px;
    /* border: 1px solid black; */
}

#searchButtonsDiv{
    min-height: 1.9em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#searchButtonsDiv input{
    width: 7em;
    margin: 0 1em;
    background-color: #1E3FAD;
    color: white;
    border: none;
    /* height: 100 */
}

#searchButtonsDiv input:hover{
    background-color: #153399;
    cursor: pointer;
}

#viewBookCover{
    width: 100%;
    height: 100%;
    display: block;
}

#viewBookForm input, #viewBookForm textarea{
    border: none;
    pointer-events: none;
}

.detailedBook{
    width: 7em;
    height: 2.2em;
}

@media (max-width: 1170px) {
    .subTitle h2{
        font-size: 1.45em;   
    }

    #searchBookDiv{
        width: 95%;
    }
  }

@media (max-width: 1170px){

}