.subTitle{
  display: flex;
  width: 100%;
  box-sizing: border-box;
}


.subTitle div{
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.subTitle button{
  margin: 0 0.3em;
  height: 2.1em;
  width: 8em;
}

.tableTitle h2{
  display: inline-block
}

.tableFormat th:nth-child(2) {
  width: 0.5in;
  height: 0.5in;
}

.tableFormat td {
  height: 0.5in;
  box-sizing: border-box;
}

.tableFormat tr {
  height: 0.5in;
}

#searchMemberDiv{
  min-height: 10em;
  width: 85%;
  /* margin: 0.4 2em; */
  margin: auto auto 2em auto;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.7em;
  background-color: #D9D9D9;  
}

#searchMemberDiv form > div:nth-child(n){
  display: flex;
  margin-top: 1em;
}

#searchMemberDiv form > div:nth-child(n) > div{
  width: 50%;
}

#searchMemberDiv form > div:nth-child(n) > div > label{
  /* background-color: red; */
  font-weight: lighter;
  text-align: center;
  display: inline-block;
  width: 35%
}

#searchMemberDiv form > div:nth-child(n) > div > input, select{
  height: 70%;
  margin: 1% 0;
  width: 65%;
  float: right;
  border-radius: 5px;
}

#searchMemButtonsDiv{
  min-height: 1.9em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#searchMemButtonsDiv input{
  width: 7em;
  margin: 0 1em;
  background-color: #1E3FAD;
  color: white;
  border: none;
  /* height: 100 */
}

#searchMemButtonsDiv input:hover{
  background-color: #153399;
  cursor: pointer;
}

#memberTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#memberTitle > div {
  flex: 1;
  /* text-align: center; */
}

#filterDiv {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
}

#filterDiv > div {
  cursor: pointer;
}

#memberNavigationArea{
  margin-left: auto;
}

.detailedMember{
  width: 7em;
  height: 2.2em;
}

.member-photo{
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover; 
  display: block;
}