@font-face {
  /* font-stretch: 20%; */
  font-family: 'Lucida-HandWriting'; /*a name to be used later*/
  src: url('../../fonts/Lucida/LucidaHandwritingStdRg.woff'); /*URL to font*/
}

.mainTitle h1{
  width: 25%;
  box-sizing: border-box;
}

.mainTitle{
  width: 100%;
  display: flex;
}


.mainTitle div:nth-child(2){
  width:  60%;
  margin: auto;
}

.mainTitle div:nth-child(3){
  width: 15%;
  margin: auto;
}

.tableTitle h2{
  display: inline-block
}

.tableFormat th:nth-child(2) {
  width: 10em;
}

#searchMemberDiv{
    min-height: 10em;
    width: 85%;
    /* margin: 0.4 2em; */
    margin: auto auto 2em auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.7em;
    background-color: #D9D9D9;  
}

#searchMemberDiv form > div:nth-child(n){
    display: flex;
    margin-top: 0.4em;
}

#searchMemberDiv form > div:nth-child(n) > div{
    width: 50%;
}

#searchMemberDiv form > div:nth-child(n) > div > label{
    /* background-color: red; */
    height: 2.5em;
    font-weight: lighter;
    text-align: center;
    margin-top: 0.5em;
    display: inline-block;
    width: 35%
}

#searchMemberDiv form > div:nth-child(n) > div > input{
    /* height: 70%; */
    height: 2.5em;
    margin: 1% 0;
    width: 65%;
    float: right;
    border-radius: 5px;
}

#searchMemberDiv form > div:nth-child(n) > div > select{
  height: 2.5em;
  margin: 1% 0;
  width: 65%;
  float: right;
  border-radius: 5px;
}


#searchMemButtonsDiv{
  min-height: 1.9em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#searchMemButtonsDiv input{
  width: 7em;
  margin: 0 1em;
  background-color: #1E3FAD;
  color: white;
  border: none;
  /* height: 100 */
}

#searchMemButtonsDiv input:hover{
  background-color: #153399;
  cursor: pointer;
}

button {
  width: 7em;
  height: 1.9em;
  margin: 0 1em;
}
#memberCardData tr{
  width: 100%;
}

#memberCardData tr td{
  width: 50%;
}


.cardFormat{
  position: relative;
  /* min-height: 310px; */
  /* min-height: 2.15in; */
  aspect-ratio: 3.45/ 2.15;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cardHeading{
  height: 28.125%;
  width: 100%;
  display: flex;
}

.cardHeading img{
  width: 100%;
}

.cardBody{
  height: 71.875%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1em;
  display: flex;
}


.photoArea{
  font-weight: bold;
  width: 27%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.photoArea div:nth-child(1){
  text-align: right;
  height: 68.625%;
}

.photoArea div:nth-child(2){
    letter-spacing: 9px;
    text-align: right;
}

.photoId{
  object-fit: cover;
  width: 80%;
  height: 90%;
  border-radius: 50%;
}

.individualData{
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  width: 73%;
}


.firstRow , .secondRow, .thirdRow{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  /* box-sizing: border-box; */
  /* font-weight: bold; */
  /* font-size: 1.1em; */
}
.thirdRow{
  margin-bottom: 10px;
}

.firstRow > div, .secondRow > div, .thirdRow > div{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  width: 50%;
}
.thirdRow > div{
  width: 100%;
}

.firstRow > div > div:nth-child(2), .secondRow > div > div:nth-child(2), .thirdRow > div > div:nth-child(2){
  font-weight: bold;
  font-size: 1.15em;
}
.thirdRow > div > div:nth-child(2){
  height: 1em;
  overflow: hidden;
  text-align: left;
}

.thirdRow{
  font-size: 1em;
}

.barcode{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.footLine{
  width: 80%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: 4px;
  color: red;
  right: 50px;
  bottom: 10px;
  line-height: 1.2;
}

.barcodeId{
  height: 4em;
  width: 80%;
  margin: 0;
}

.selectedMemberCard {
  border: 2px solid #007BFF; 
}

.logoTitle{
  height: 100%;
  width: 70%;
}

.logoTitle h1{
  margin-top: 23px;
  font-size: 2.6em;
  font-family: serif /*YGW*/;
  text-shadow: 0.5px 2px 3px black;
  -webkit-text-stroke: 0.5px #f5e2c9;
  color: red;
  /* font-family: "Lucida-HandWriting"; YRC*/
}

@media (max-width: 1090px) {
  .firstRow > div, .secondRow > div, .thirdRow > div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 50%;
  }


  .photoArea div:nth-child(2){
    letter-spacing: 2px;
    text-align: right;
  }

  .firstRow > div > div:nth-child(2), .secondRow > div > div:nth-child(2), .thirdRow > div > div:nth-child(2){
    font-weight: bold;
    font-size: 1em;
  }

  .barcodeId{
    height: 2em;
    width: 80%;
    margin: 0;
  }

 .mainTitle h1{
    font-size: 1.45em;   
  }

}

@media (min-width: 1090px) and (max-width: 1280px){
  .firstRow > div, .secondRow > div, .thirdRow > div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 50%;
  }


  .photoArea div:nth-child(2){
    letter-spacing: 4px;
    text-align: right;
  }

  .firstRow > div > div:nth-child(2), .secondRow > div > div:nth-child(2), .thirdRow > div > div:nth-child(2){
    font-weight: bold;
    font-size: 1em;
  }

  .barcodeId{
    height: 3em;
    width: 80%;
    margin: 0;
  }

  .mainTitle h1{
    font-size: 1.6em;   
  }

}