@font-face {
  font-family: 'Lucida-HandWriting';
  src: url('../../fonts/Lucida/LucidaHandwritingStdRg.woff'); /*URL to font*/
}

@font-face {
  font-family: "Kadwa";
  src: url("../../fonts/Kadwa/Kadwa-Regular.ttf")
}

@font-face {
  font-family: "Berlin-Sans";
  src: url("../../fonts/berlin-sans-fb//BRLNSR.TTF")
}

@font-face {
  font-family: "Source-Serif";
  src: url("../../fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf")
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kadwa";
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

button{
  margin-bottom: 3px;
  width: 7em;
  height: 3em;
}

.tableFormat table {
  border-spacing: 0.1in 0.53in ;
  border-collapse: separate;
  border: none;
}

.tableFormat table td{
  min-height: 20em;
  box-sizing: border-box;
  border: none;
}

#memberCardData tr{
  width: 100%;
}

#memberCardData tr td{
  width: 50%;
  border: none
}

/* #memberCardData td{
  margin: 4px;
} */

.cardFormat{
  position: relative;
  /* min-height: 310px; */
  aspect-ratio: 3.45/ 2.15;
  /* width: 3.45in; */
  /* width: 98%; */
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.cardHeading{
  height: 26.125%;
  width: 100%;
  display: flex;
}

.cardHeading img{
  width: 100%;
}

.cardBody{
  height: 71.875%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1em;
  display: flex;

}

.photoArea{
  font-weight: bold;
  width: 27%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.photoArea div:nth-child(1){
  text-align: right;
  height: 68.625%;
}

.photoArea div:nth-child(2){
    letter-spacing: 3px;
    font-size: 11px;
    text-align: right;
}

.photoId{
  object-fit: cover;
  width: 80%;
  height: 95%;
  border-radius: 50%;
}

.individualData{
  padding-left: 0.55em;
  display: flex;
  flex-direction: column;
  width: 73%;
}

.firstRow , .secondRow, .thirdRow{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  /* box-sizing: border-box; */
  /* font-weight: bold; */
  /* font-size: 1.1em; */
}
.thirdRow{
  margin-bottom: 10px;
}

.firstRow > div, .secondRow > div, .thirdRow > div{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 1.15;
  width: 50%;
}

.firstRow > div > div:nth-child(1), .secondRow > div > div:nth-child(1), .thirdRow > div > div:nth-child(1){
  font-family: "Source-Serif";
  font-weight: lighter;
  font-size: 7.8px;
}

.firstRow > div > div:nth-child(2), .secondRow > div > div:nth-child(2), .thirdRow > div > div:nth-child(2){
  /* font-size: 0.89em; */
  font-size: 11px;
  font-weight: 500;
  font-family: "Berlin-Sans"
}


.thirdRow{
  font-size: 1em;
}

.barcode{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.footLine{
  width: 80%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: 4px;
  color: red;
  right: 50px;
  bottom: 10px;
  line-height: 1.2;
}

.barcodeId{
  height: 2em;
  width: 80%;
  margin: 0;
}


  /* Set A4 dimensions for print media */
  @page {
    size: A4;
    /* margin-left: 0.06in;  */
    /* margin: 0.12in; */
    /* margin-left: 0.13in; THIS WORKS*/
    /* margin: 0.25in; */
    /* margin: 0.39in; */
    margin: 0.53in;
    /* margin-right: 0.53in; */
    /*  0.68in */
}

@media print {
  body {
    size: A4;
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
  }
  

  button{
      display: none;
  }
}